[project]
	description = Loader for Physics Body editor
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexander Alemayhu (scanf)
[access "refs/for/refs/*"]
	read = group user/Alexander Alemayhu (scanf)
	push = group user/Alexander Alemayhu (scanf)
	label-Code-Review = -2..+2 group user/Alexander Alemayhu (scanf)
	label-Verified = -1..+1 group user/Alexander Alemayhu (scanf)
	rebase = group user/Alexander Alemayhu (scanf)
	removeReviewer = group user/Alexander Alemayhu (scanf)
	submit = group user/Alexander Alemayhu (scanf)
[access "refs/heads/*"]
	read = group user/Alexander Alemayhu (scanf)
	create = group user/Alexander Alemayhu (scanf)
	push = +force group user/Alexander Alemayhu (scanf)
	pushMerge = group user/Alexander Alemayhu (scanf)
[access "refs/tags/*"]
	push = +force group user/Alexander Alemayhu (scanf)
	pushTag = group user/Alexander Alemayhu (scanf)
	pushSignedTag = group user/Alexander Alemayhu (scanf)
